<%- include('partials/header'); -%>

<div class="para">
    <%- include('partials/navbar'); -%>
    <style>
.para {
  /* The image used */
  background-image: url("images/services.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

</div>
<div class="container about-style">
    <div class="row main-heading">
     <h1 class="p8 m5 text-center">Services</h1>
    </div>
    <div class="fluid-container">
        <p class="h6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec dui nunc mattis enim ut. Ut eu sem integer vitae justo eget magna fermentum iaculis. Gravida rutrum quisque non tellus orci ac. Turpis egestas maecenas pharetra convallis. Magna fermentum iaculis eu non diam phasellus. Donec et odio pellentesque diam volutpat commodo sed egestas egestas. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Risus in hendrerit gravida rutrum quisque non tellus orci ac. Eu mi bibendum neque egestas. Odio facilisis mauris sit amet massa. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Pharetra pharetra massa massa ultricies mi. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. A diam sollicitudin tempor id. Purus faucibus ornare suspendisse sed. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed. Egestas tellus rutrum tellus pellentesque eu.

            Sed viverra tellus in hac habitasse platea dictumst vestibulum. Non quam lacus suspendisse faucibus interdum posuere lorem. Bibendum ut tristique et egestas. Diam donec adipiscing tristique risus nec feugiat in fermentum posuere. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Auctor eu augue ut lectus arcu bibendum at. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Laoreet id donec ultrices tincidunt. Ut morbi tincidunt augue interdum velit euismod in. Tempor commodo ullamcorper a lacus vestibulum sed. Tincidunt eget nullam non nisi. Quis risus sed vulputate odio ut enim blandit volutpat. Dui nunc mattis enim ut tellus elementum sagittis. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Et malesuada fames ac turpis egestas. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue.</p>
    </div>
    
</div>
<%- include('partials/footer'); -%>