           <!-- success page after submitting contact form -->
<%- include('partials/header'); -%>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully  submitted your Query. Our customer executive will be contacting you within 24 hrs.</p>
    <hr>
    <p class="mb-0">Thankyou for contacting us.We will be grateful to you. <br>Have a Nice Day</p>
  </div>
  <script type="text/javascript" src="/javaScript/suc.js"></script>
  <%- include('partials/footer'); -%>